/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #feffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b8b8b8' fill-opacity='0.3'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  .app-name {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 2.6em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: rgb(48, 48, 48);
  }
  .exchange-rates {
    -ms-flex-item-align: center;
    align-self: center;
    border: 1px solid gray;
    width: 268px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    background: white;
    .rate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      &:first-of-type {
        border-bottom: 1px solid rgb(237, 237, 237);
        padding-bottom: 10px;
      }
      &:last-of-type {
        padding-top: 10px;
      }
      .title {
        color: rgb(43, 43, 43);
        font-weight: bolder;
        font-size: 14px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-bottom: 3px;
      }
      .equals {
        font-size: 20px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: rgb(116, 116, 116);
      }
    }
  }
  form {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    .rows {
      height: 100%;
      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &:first-of-type {
          input,
          select {
            margin: 0 10px 10px 0;
          }
        }
        input {
          font-size: 16px;
          height: 36px;
          padding: 0 0 0 12px;
          line-height: 28px;
          width: 100px;
          border-radius: 6px;
          border: 1px solid #dfe1e5;
          margin-right: 10px;
          -webkit-appearance: none;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &[type='number'] {
            -moz-appearance: textfield;
          }
        }
        select {
          padding: 5px;
          padding-left: 15px;
          width: 100px;
          line-height: 25px;
          border-radius: 6px;
          border: 1px solid #dfe1e5;
          height: 38px;
          color: rgb(43, 43, 43);
          font-size: 14px;
          font-weight: 600;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: white;
          background-image: -o-linear-gradient(
              45deg,
              transparent 50%,
              rgb(80, 80, 82) 50%
            ),
            -o-linear-gradient(315deg, rgb(80, 80, 82) 50%, transparent 50%),
            -o-linear-gradient(left, #dfe1e5, #dfe1e5);
          background-image: linear-gradient(
              45deg,
              transparent 50%,
              rgb(80, 80, 82) 50%
            ),
            linear-gradient(135deg, rgb(80, 80, 82) 50%, transparent 50%),
            linear-gradient(to right, #dfe1e5, #dfe1e5);
          background-position: calc(100% - 12px) calc(1em + 2px),
            calc(100% - 7px) calc(1em + 2px), 100% 0;
          background-size: 5px 5px, 5px 5px, 25% 100%;
          background-repeat: no-repeat;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .flip {
      background: white;
      color: rgb(194, 194, 194);
      border: 1px solid #dfe1e5;
      border-radius: 6px;
      outline: none;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      font-size: 1.5em;
      height: 100%;
      max-height: 100%;
      padding: 5px 20px;
      &:hover {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08),
          0 1px 2px rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.14);
        cursor: pointer;
        color: rgb(53, 53, 53);
        svg {
          -webkit-animation: spin 0.2s linear;
          animation: spin 0.2s linear;
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(180deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
  .updated {
    margin-top: 15px;
    color: gray;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
